<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Neue Klausur eintragen</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"
          rel="stylesheet"
          integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3"
          crossorigin="anonymous">

</head>
<body>
<div class="container">

    <h1>Neue Klausur eintragen</h1>

    <form name="klausurform" method="post" th:action="@{/klausuren}">


        <div class="form-floating mb-3">
            <input type="text" class="form-control" id="veranstaltungsName" name="veranstaltungsName" required>
            <label for="veranstaltungsName">Name der Veranstaltung</label>

        </div>


        <div class="form-floating mb-3">
            <input type="text" class="form-control" id="veranstaltungsId" name="veranstaltungsId" required>
            <label for="veranstaltungsId" class="form-label">ID der Veranstaltung im LSF</label>

            <div class="form-text">Sie finden die LSF Veranstaltungs-ID im <a
                    href="https://lsf.hhu.de/qisserver/rds?state=wtree&search=1&category=veranstaltung.browse&navigationPosition=lectures%2Clectureindex&breadcrumb=lectureindex&topitem=lectures&subitem=lectureindex"
                    target="_blank">LSF</a>.
            </div>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="checkbox" id="online" checked="checked" name="isOnline" value="true"><input type="hidden" value="true" name="_isOnline"/>
            <label class="form-check-label" for="online">
                Die Klausur findet Online statt.
            </label>
        </div>

        <div class="form-floating mb-3">
            <input type="date" class="form-control" id="tag" name="tag" required>
            <label for="tag" class="form-label">Datum der Klausur (dd.mm.yyyy)</label>

        </div>

        <div class="form-floating mb-3">
            <input type="time" class="form-control" id="von" name="von" required>
            <label for="von" class="form-label">Uhrzeit des Klausurbeginnns (hh:mm)</label>

        </div>


        <div class="form-floating mb-3">
            <input type="time" class="form-control" id="bis" name="bis" required>
            <label for="bis" class="form-label">Uhrzeit des Klausurendes (hh:mm)</label>
            <div class="form-text">Runden Sie die Zeit auf die nächste vorgegebene Zeit auf. Falls die Klausur nach 13:30 Uhr endet, tragen Sie bitte 13:30 Uhr ein.
            </div>

        </div>

        <button name="submitbtn" class="btn btn-primary" type="submit">Eintragen</button>
    </form>

</div>
</body>
</html>
