<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>PP2 Urlaub Übersicht</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"
        rel="stylesheet"
        integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3"
        crossorigin="anonymous">
</head>
<body>
<div class="container">
  <h1>Übersicht: Freistellungen</h1>

  <h2>Urlaubszeiten</h2>
  <table id="urlaub_table" class="table mb-5">
    <thead>
    <tr>
      <th>Datum</th>
      <th>von</th>
      <th>bis</th>
      <th>Zeit (min)</th>
      <th></th>
      <th></th>
    </tr>
    </thead>
    <tbody>
    <div th:if="${!student.getUrlaube().isEmpty()}">
      <tr th:each="urlaub: ${student.getUrlaube()}">
        <td th:text="${urlaub.tag}" th:aria-label=" 'Urlaubstag' + ${urlaub.tag}">Datum</td>
        <td th:text="${urlaub.von}" th:aria-label="'Urlaub von' + ${urlaub.von}">von</td>
        <td th:text="${urlaub.bis}" th:aria-label="'Urlaub bis' + ${urlaub.bis}">bis</td>
        <td th:text="${urlaub.urlaubsDauerBerechnen()}">Zeit</td>
        <td th:if="${urlaub.isUrlaubStornierbar()}">
          <form method="post" th:action="@{'/delete_Urlaub/' + ${urlaub.tag} +'/' + ${urlaub.von}}">
            <button class="btn btn-danger" type="submit"
                    th:aria-label="'Stornieren ' + ${urlaub.tag}">Stornieren
            </button>
          </form>
        </td>
      </tr>
    </div>
    </tbody>
    <tfoot>
    <tr>
      <td><strong>Summe</strong></td>
      <td></td>
      <td></td>
      <td th:text="${student.gesamteUrlaubeBerechnen()}"><strong>0</strong></td>
      <td></td>
    </tr>
    <tr>
      <td><strong>Resturlaub</strong></td>
      <td></td>
      <td></td>
      <td th:text="${student.getRestUrlaub()}"><strong>240</strong>
      </td>
    </tr>
    </tfoot>
  </table>
  <h2 id="klausur">Klausuren</h2>
  <p th:if="${student.getKlausurIds().isEmpty()}" class="alert alert-success">Sie sind für keine
    Klausuren angemeldet.</p>
  <table th:unless="${student.getKlausurIds().isEmpty()}" id="klausur_table" class="table mb-5">
    <thead>
    <tr>
      <th>Veranstaltung und Klausurzeit</th>
      <th>Online/Präsenz</th>
      <th>Freistellung vom Praktikum</th>
      <th></th>
      <th></th>
    </tr>
    </thead>
    <tbody>
    <div>
      <tr th:each="klausur: ${klausuren}">
        <td th:text="${klausur.toString()}">Veranstaltung und Klausurzeit</td>
        <td th:text="${klausur.isOnline} ? 'Online' : 'Presänz'">Online/Präsenz</td>
        <td th:text="${klausur.freistellungToString()} ">Freistellung vom Praktikum</td>
        <td th:if="${klausur.stornierbar()}">
          <form method="post" th:action="@{'/delete_Klausur/' + ${klausur.getKlausurId()}}">
            <button class="btn btn-danger" type="submit"
                    th:aria-label="'Stornieren' + ${klausur.toString()}">Stornieren
            </button>
          </form>
        </td>
      </tr>
    </div>
    </tbody>
  </table>

  <div class="text-center pt-5">
    <a href="/urlaubanmeldung">
      <button class="btn btn-primary btn-lg" aria-label="Urlaub anmelden">Urlaub anmelden</button>
    </a>
    <a href="/klausuranmeldung">
      <button class="btn btn-success btn-lg" aria-label="Klausur anmelden">Klausur anmelden</button>
    </a>
  </div>
</div>
</body>
</html>